# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene' : 20}

# Use count_documents to display the number of documents in the result
hygiene_count = establishments.count_documents(query)

# Turning hygiene_results into list and finding all documents that match based on the criteria above in "query"   
hygiene_results = list(establishments.find(query)) 

# Printing an f string to show the number of documents returned based on the query above
print(f'Number of documents with a Hygiene score of 20 in the "uk_food" database: {hygiene_count}')

# Display the first document in the results using pprint ==> [:1] grabs the first document due to "lond_rating_results" being converted into a list above
for doc in hygiene_results[:1]:
    pprint(doc)

Number of documents with a Hygiene score of 20 in the "uk_food" database: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6627bde2c1b4b8070b1a4bd6'),
 'geocode': {'latitude': Decimal128('50.7697050000000'),
             'longitude': Decimal128('0.276940000000000')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [7]:
# Convert the result to a Pandas DataFrame ==> using "pd.json_normalize" instead of "pd.DataFrame" to split up nested dictionaries inside of the overall document into individual columns
hygiene_df = pd.json_normalize(hygiene_results)

# Display the number of rows in the DataFrame
print(f'Number of rows in the hygiene_df : {len(hygiene_df)}')

# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

Number of rows in the hygiene_df : 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6627bde2c1b4b8070b1a4bd6,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940000000000,50.7697050000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6627bde2c1b4b8070b1a4f5f,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.27872100000000,51.8575360000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6627bde2c1b4b8070b1a5268,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.15927000000000,51.7894290000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6627bde2c1b4b8070b1a5455,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020000000000,50.7708850000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6627bde2c1b4b8070b1a5464,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446000000000,50.7707240000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6627bde2c1b4b8070b1a5e02,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349000000000,51.5414480000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6627bde2c1b4b8070b1a6023,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167100000000,51.5350065000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6627bde2c1b4b8070b1a7546,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364000000000,51.5915150000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6627bde2c1b4b8070b1a7995,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146449998021126,51.1859474182129,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6627bde2c1b4b8070b1a81a3,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307000000000,51.5700500000000,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

# Retrieving establishments that have "London" in the name for "LocalAuthorityName" and a "RatingValue" of greather than or equal to 4 ==> '$regex' finds all "LocalAuthorityName" that have "London" in the name
query = {'LocalAuthorityName': {'$regex': 'London'},
            'RatingValue' : {'$gte' : 4}}

# Use count_documents to display the number of documents in the result
lond_rating_counts = establishments.count_documents(query)


# Turning lond_rating_results into list and finding all documents that match based on the criteria above in "query"
lond_rating_results = list(establishments.find(query))

# Printing an f string to show the number of documents returned based on the query above
print(f'Number of documents in London with a RatingValbe greater than or equal to 4 in the "uk_food" database: {lond_rating_counts}')

# Display the first document in the results using pprint ==> [:1] grabs the first document due to "lond_rating_results" being converted into a list above
for results in lond_rating_results[:1]:
    pprint(results)

Number of documents in London with a RatingValbe greater than or equal to 4 in the "uk_food" database: 33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6627bde2c1b4b8070b1a65fe'),
 'geocode': {'latitude': Decimal128('51.3693210000000'),
             'longitude': Decimal128('0.508551000000000')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [9]:
# Convert the result to a Pandas DataFrame ==> using "pd.json_normalize" instead of "pd.DataFrame" to split up nested dictionaries inside of the overall document into individual columns
london_df = pd.json_normalize(lond_rating_results)

# Display the number of rows in the DataFrame
print(f'Number of rows in the london_df : {len(london_df)}')

# Display the first 10 rows of the DataFrame
london_df.head(10)

Number of rows in the london_df : 33

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6627bde2c1b4b8070b1a65fe,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551000000000,51.3693210000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6627bde2c1b4b8070b1a6919,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249255999922752,51.1236228942871,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6627bde2c1b4b8070b1a7469,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954000000000,51.5438310000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6627bde2c1b4b8070b1a8269,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325000000000,51.4640780000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6627bde2c1b4b8070b1a826b,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346336990594864,51.4640655517578,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6627bde2c1b4b8070b1a8973,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555000000000,51.5040710000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6627bde2c1b4b8070b1aaa7f,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.0692860000000000,51.5011210000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6627bde3c1b4b8070b1aae47,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.0480060000000000,51.5037330000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6627bde3c1b4b8070b1aae5d,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.0479655750095844,51.5041122436523,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6627bde3c1b4b8070b1aae5e,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.0479660000000000,51.5041120000000,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [10]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

# Defining variables for calculations in "query"
degree_search = 0.01
latitude = 51.49014200      # ==> Lat of "Penang Flavours"
longitude = 0.08384000      # ==> Long of "Penang Flavours"


# Used to retrieve the establishments that are within 0.01 degree on either side of the latitude and longitude AND establishments that have a "RatingValue" equal to 5
query = {"geocode.latitude": {'$gte': latitude - degree_search, '$lte': latitude + degree_search},
         "geocode.longitude": {'$gte': longitude - degree_search, '$lte': longitude + degree_search},
         "RatingValue": 5}

# Sorting by the Hygiene score in ascending order ==> "1"
sort = [('scores.Hygiene', 1)]

# Limiting the results to 5
limit = 5

# Finding the documents/"establishments" that fit the requirments from "query" ==> Then sorting by hygiene score ==> Then limiting the results to only the top 5 establishments
top_five_results = list(establishments.find(query).sort(sort).limit(limit))

# Print the results
for result in top_five_results:
    pprint(result)

{'AddressLine1': 'Plumstead Manor School Old Mill Road',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Plumstead Manor Nursery',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4646.9740101340385,
 'FHRSID': 695241,
 'LocalAuthorityBusinessID': 'PI/000179088',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1QG',
 'RatingDate': '2021-06-16T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6627bde2c1b4b8070b1aa448'),
 'geocode': {'latitude': Decimal128('51.4815177917480'),
             'longitude': Decimal128('0.0859939977526665')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695241',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}}
{'AddressLine1': '35 Lakedale Road',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Atlantic Fish Bar',
 'BusinessType': 'Takeaway/sandwich shop',
 'BusinessTypeID': 7844,
 'ChangesByServerID': 0,
 'Distance': 4646.974611855838,
 'FHRSID': 694478,
 'LocalAuthorityBusinessID': 'PI/000086506',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1PR',
 'RatingDate': '2021-06-16T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6627bde2c1b4b8070b1aa44d'),
 'geocode': {'latitude': Decimal128('51.4867296000000'),
             'longitude': Decimal128('0.0912164000000000')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694478',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}}
{'AddressLine1': '17 Lakedale Road',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Lumbini Grocery Ltd T/A Al-Iman',
 'BusinessType': 'Retailers - other',
 'BusinessTypeID': 4613,
 'ChangesByServerID': 0,
 'Distance': 4646.975587048333,
 'FHRSID': 909912,
 'LocalAuthorityBusinessID': 'PI/000201100',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1PP',
 'RatingDate': '2020-10-20T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6627bde2c1b4b8070b1aa44f'),
 'geocode': {'latitude': Decimal128('51.4871632000000'),
             'longitude': Decimal128('0.0916256000000000')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/909912',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 5}}
{'AddressLine1': '144 - 146 Plumstead High Street',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Iceland',
 'BusinessType': 'Retailers - supermarkets/hypermarkets',
 'BusinessTypeID': 7840,
 'ChangesByServerID': 0,
 'Distance': 4646.946071297699,
 'FHRSID': 695223,
 'LocalAuthorityBusinessID': 'PI/000178842',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1JQ',
 'RatingDate': '2019-11-13T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6627bde2c1b4b8070b1aa404'),
 'geocode': {'latitude': Decimal128('51.4871482849121'),
             'longitude': Decimal128('0.0924199968576431')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695223',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}
{'AddressLine1': 'Restaurant And Premises 107A Plumstead High Street',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Howe and Co Fish and Chips - Van 17',
 'BusinessType': 'Mobile caterer',
 'BusinessTypeID': 7846,
 'ChangesByServerID': 0,
 'Distance': 4646.95593107927,
 'FHRSID': 1380578,
 'LocalAuthorityBusinessID': '14425',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1SE',
 'RatingDate': '2021-11-11T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6627bde2c1b4b8070b1aa41a'),
 'geocode': {'latitude': Decimal128('51.4875335693359'),
             'longitude': Decimal128('0.0925370007753372')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1380578',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}

In [11]:
# Convert result to Pandas DataFrame ==> using "pd.json_normalize" instead of "pd.DataFrame" to split up nested dictionaries inside of the overall document into individual columns
top_five_df = pd.json_normalize(top_five_results)
top_five_df

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6627bde2c1b4b8070b1aa448,695241,0,PI/000179088,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,...,0.0859939977526665,51.4815177917480,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6627bde2c1b4b8070b1aa44d,694478,0,PI/000086506,Atlantic Fish Bar,Takeaway/sandwich shop,7844,35 Lakedale Road,,Plumstead,...,0.0912164000000000,51.4867296000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6627bde2c1b4b8070b1aa44f,909912,0,PI/000201100,Lumbini Grocery Ltd T/A Al-Iman,Retailers - other,4613,17 Lakedale Road,,Plumstead,...,0.0916256000000000,51.4871632000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6627bde2c1b4b8070b1aa404,695223,0,PI/000178842,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,...,0.0924199968576431,51.4871482849121,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6627bde2c1b4b8070b1aa41a,1380578,0,14425,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,...,0.0925370007753372,51.4875335693359,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [12]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# MATCH STAGE for establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}

# GROUP STAGE to group by "LocalAuthorityName"
group_query = {'$group': {'_id': "$LocalAuthorityName", 'count': {'$sum': 1}}}

# SORT STAGE to sort matches from highest to lowest (-1 => Descending order => AKA: Highest to Lowest)
sort_query = {'$sort': {'count': -1}}

# Creating the pipeline of queries/"stages"
pipeline = [match_query, group_query, sort_query]

# Using the ".aggregate" function on the pipeline to query and calculate the results
pipeline_results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result "pipeline_results"
print(f'Number of documents in the pipeline_results: {len(pipeline_results)}')

# Print the first 10 results
for result in pipeline_results[:10]:
    pprint(result)

Number of documents in the pipeline_results: 55
{'_id': 'Thanet', 'count': 1130}
{'_id': 'Greenwich', 'count': 882}
{'_id': 'Maidstone', 'count': 713}
{'_id': 'Newham', 'count': 711}
{'_id': 'Swale', 'count': 686}
{'_id': 'Chelmsford', 'count': 680}
{'_id': 'Medway', 'count': 672}
{'_id': 'Bexley', 'count': 607}
{'_id': 'Southend-On-Sea', 'count': 586}
{'_id': 'Tendring', 'count': 542}

In [13]:
# Convert the result to a Pandas DataFrame  => ('pd.DataFrame' is sufficent for these results because there is no need to split up nested dictionaries based on the output that is given from the pipeline query)
pipeline_df = pd.DataFrame(pipeline_results)

# Display the number of rows in the DataFrame
print(f'Number of rows in the london_df : {len(pipeline_df)}')

# Display the first 10 rows of the DataFrame
pipeline_df.head(10)

Number of rows in the london_df : 55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542